html {
	height: 100%;
}

body {
	margin: 0;
	background-color:#000;
	height: 100%;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

main > img {
	max-width: calc(100% - 4rem);
	height: auto;
}

.logo {
	animation: 5s ease-out uppp;
}

.date {
	animation: 7s ease-out uppp2;
}

#canvasContainer{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}
#canvasContainer img{
	visibility: hidden;
	pointer-events: none;
	position: absolute;
}

@keyframes uppp {
	0% {
		opacity: 0;
		transform: translateY(4rem);
	}
	33% {
		opacity: 0;
		transform: translateY(4rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes uppp2 {
	0% {
		opacity: 0;
		transform: translateY(4rem);
	}
	66% {
		opacity: 0;
		transform: translateY(4rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}